.main-header-section {
  text-align: center;
  margin: 0;
  padding: 4rem 2rem;
  background-color: #f6f6f6;
  /* background-image: radial-gradient( circle 588px at 31.7% 40.2%,  rgba(225,200,239,1) 21.4%, rgba(163,225,233,1) 57.1% ); */
}
.navbar {
  background-image: radial-gradient(
    circle 588px at 31.7% 40.2%,
    rgba(225, 200, 239, 1) 21.4%,
    rgba(163, 225, 233, 1) 57.1%
  );
}
.slide {
  padding: 0% 5% 0% 5%;
  margin: 0% 10% 0% 10%;
}
.slider {
  width: 60%;
  /* height: 20%; */

  margin: auto;
  padding: 5%;
}

h1 {
  /* font-size: 50px; */

  background: -webkit-linear-gradient(#2a4aa3, #d90700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card.product {
  margin: 10px 0;
  background: none;
  border: none;
}

.card.product .card-img-top {
  /* width: 200px ; */
  height: 250px;
  padding: 5% 5% 2% 5%;
}

.card.product .btn-outer {
  display: flex;
  justify-content: space-between;

  margin-top: 15px;
}

.card.product .product-header {
  display: flex;
  justify-content: space-between;

  height: 70px;
}

.fa-star.checked {
  color: orange;
}

.card-title.product-price {
  color: green;
  margin-left: 5px;
}
.explore {
  border-radius: 100rem;
  padding: 1rem;
  font-family: "Avenir Next";
  font-size: 1.5rem;
  padding: 0.5rem 3rem;
  color: black;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 3px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #78e4ff, #ff48fa);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
}
.explore:hover {
  box-shadow: none;
  color: white;
  border: 3px solid white;
}
.card-text {
  height: 72px;
  margin-top: 10px;
}
.btn.btn-primary {
  padding: 0.5rem;
}
.about {
  text-align: center;
}
#aboutUs {
  text-align: center;
  /* margin: 5% 10% 0% 10%; */

  padding: 5%;
}
.aboutUs,
.contactUs {
  border-radius: 10px;
}
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}
.card.product {
  padding-top: 60px;
}
#spinner {
  margin-top: 25px;
}
#signUp-page {
  display: none;
}
.signUpPage {
  margin: 2% 10% 10% 10%;
  /* padding: 40px 50px 50px 50px; */
  border-radius: 1rem;
  padding: 1rem;
  font-family: "Avenir Next";
  font-size: 1.5rem;
  padding: 0.5rem 3rem;
  color: black;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 5px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #78e4ff, #f60a0a);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
}
.signUpButton1 {
  margin: 2% 40%;
  
  width: 25%;
  background: rgb(63, 94, 251);
  background: linear-gradient(
    90deg,
    rgb(11, 126, 242) 0%,
    rgb(222, 16, 30) 100%
  );
  /* margin: 10%; */
  border-radius: 1rem;
  padding: 1rem;
  font-family: "Avenir Next";
  font-size: 1.8rem;
  border: none;
  padding: 0.5rem 2rem;
  color:white;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
}
.insideSignUp{
  margin: 2% 2% 5% 2%;
}
#logInButton {
  display: none;
  text-align: center;
}
.logInButton {
  margin: 5% 20%;
  padding-top: 10%;
  border-radius: 1rem;
  padding: 1rem;
  font-family: "Avenir Next";
  font-size: 1.5rem;
  padding: 0.5rem 3rem;
  color: black;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
  border: solid 5px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    linear-gradient(101deg, #78e4ff, #f60a0a);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
}
.insideLogIn {
  margin: 5% 10% 0% 10%;
}
.logInButton1 {
  background: rgb(63, 94, 251);
  background: linear-gradient(
    90deg,
     rgb(11, 126, 242) 0%,
     rgb(222, 16, 30) 100%
  );
  margin: 10%;
  border-radius: 1rem;
  padding: 1rem;
  font-family: "Avenir Next";
  font-size: 1.5rem;
  border: none;
  padding: 0.5rem 3rem;
  color: white;
  box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
}
#contactUs {
  margin: 5% 10% 0% 10%;
  text-align: center;
  padding: 2% 0%;
  margin-bottom: 5%;
}
input {
  border: 10px solid black;
}
.card.product .cart-item-img{
  padding:15% 8%;
}
.card.product{
  padding-top: 0;
}
 .product-price{
  font-size: x-large;
}
#cart-empty-img {
  height: 300px;
 
}
#cart-items-body {
  text-align: center;
}
.nav-item:hover{
  cursor: pointer;
}